body {
	font-family: system-ui;
	background-color: hsl(0 0% 100%);
}

.pw-weak,
.wp-generate-pw,
#pass-strength-result,
.forgetmenot,
#backtoblog,
.privacy-policy-page-link,
.language-switcher {
	display: none !important;
}

#login {
	width: 400px;
}

.login-action-confirm_admin_email #login {
	width: 500px;
	margin-top: unset;
}

.login h1.admin-email__heading {
	font-size: 1.25rem;
	border-bottom-color: hsl(240 6% 90%);
}

.login h1 a {
	width: 100%;
	height: 6.25rem;
	margin-bottom: 2.5rem;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiBmaWxsPSJoc2woMjA3IDY4JSA0MSUpIj4KCTxwYXRoIGQ9Ik00ODAtMTIwdi04MGgyODB2LTU2MEg0ODB2LTgwaDI4MHEzMyAwIDU2LjUgMjMuNVQ4NDAtNzYwdjU2MHEwIDMzLTIzLjUgNTYuNVQ3NjAtMTIwSDQ4MFptLTgwLTE2MC01NS01OCAxMDItMTAySDEyMHYtODBoMzI3TDM0NS02MjJsNTUtNTggMjAwIDIwMC0yMDAgMjAwWiI+PC9wYXRoPgo8L3N2Zz4=");
	background-size: contain;
}

.message,
#login_error {
	margin-bottom: 1.5rem !important;
	padding: 1rem 0 1rem 1rem !important;
	border-left-color: hsl(207 68% 41%) !important;
	box-shadow: none !important;
}

#login_error {
	border-left-color: hsl(0 72% 51%) !important;
}

.login form {
	margin-top: 0;
	padding: 1.5rem;
	border-color: hsl(240 6% 90%);
	border-radius: .75rem;
	box-shadow:
	0 1px 3px 0 hsl(0 0% 0% / .1),
	0 1px 2px -1px hsl(0 0% 0% / .1);
}

.login label {
	line-height: 1.25;
	margin-bottom: .375rem;
}

.input {
	margin-bottom: 1.5rem !important;
	padding: .25rem .75rem !important;
	border-color: hsl(240 6% 90%) !important;
	font-family: inherit !important;
	font-size: 1rem !important;
	line-height: unset !important;
	box-shadow: 0 1px 2px 0 hsl(0 0% 0% / .05) !important;
}

.wp-pwd .input {
	padding-right: 3rem !important;
}

.input,
.wp-hide-pw,
#wp-submit,
.admin-email__actions-primary :is(a, #correct-admin-email) {
	border-radius: .375rem !important;
}

#wp-submit {
	float: unset;
}

#nav {
	text-align: center;
}